.game-block{
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 95px;
    margin: 0 8px 8px;
    height: 80px;
}
.back{
    width: 100%;
    padding: 10px;
    background-color: #101828;
}
.front{
    padding: 10px;
    transform: rotateY(180deg);
    background-color: #101828;
}
.fas{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
}
.flepped ,
.matched{
    transform: rotateY(180deg);
}
.controller{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #032260c7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
}
.controller h1{
    
    color: white;
    margin-bottom: 10px;
}
.controller h2{
    
    color: white;
    margin-bottom: 10px;
}
.controller h2 b{
    color: #084cd3;
}
.controller span {
    
    color: white;
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    background-color: #084cd3;
    margin-bottom: 10px;
}
.controller input{
    
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
    width: 230px;
}
.pom{
    border: 2px solid red;
    animation: pom 0.5s infinite;
}
@keyframes pom {
    0%{
        border-color: red;
    }
    50%{
        border-color: white;
    }
    100%{
        border-color: red;
    }
}

.no-clicking{
    pointer-events: none;
}